<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <title>Priority Pilot - Take Flight Today</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/public/assets/images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/assets/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/assets/images/favicons/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/public/assets/images/favicons/site.webmanifest"
    />

    <!-- Basic Css files -->
    <link
      href="public/assets/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="public/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="public/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/public/assets/utils/dateUtils.js" />
  </head>
  <body class="fixed-left"></body>
</html>
