<div class="col-md-4">
  <h3
    class="page-title"
    id="portfolioTitle"
    name="portfolioTitle"
    style="color: #34b871 !important; min-width: 600px"
  >
    <%= portfolio_name %>
  </h3>
</div>
