<h3 class="text-center m-0">
  <!-- Priority Pilot -->
  <a href="/" class="logo logo-admin"
    ><img
      style="width: 80px; height: 80px; padding-top: 10px; padding-right: 10px"
      src="public/assets/images/sidebar-logo.png"
      alt="logo"
  /></a>
</h3>
