<% include ../Partials/HeaderRoot %>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<style>
  .password-container {
    position: relative;
    width: 300px;
  }

  .password-container input {
    width: 100%;
    padding-right: 40px;
  }

  .password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .toggle-password:hover {
    cursor: pointer;
  }
  #email {
    cursor: pointer;
  }
</style>
<div id="preloader">
  <div id="status"><div class="spinner"></div></div>
</div>

<!-- Begin page -->
<div class="accountbg"></div>
<div class="wrapper-page">
  <div class="card">
    <div class="card-body">
      <h3 class="text-center m-0">
        <!-- Priority Pilot -->
        <a href="/" class="logo logo-admin"
          ><img src="/public/assets/images/logoshort.png" alt="logo"
        /></a>
      </h3>

      <div class="p-3">
        <!-- <h4 class="font-18 m-b-5 text-center">Welcome Back !</h4>
       <p class="text-muted text-center">
         
            <p class="text-center">
              Don't have an account ?
              <a href="/register" class="font-500 font-14 font-secondary">
                Signup Now
              </a>
            </p>
            
          </div>
        </p> -->
        <h4 class="font-18 m-b-5 text-center">Reset Password</h4>

        <p>Password Reset Successfully for <%= email %>.</p>

        <div class="col-sm-12 text-center">
          <button
            onclick="javascript:window.location.replace('/login')"
            class="btn btn-primary w-md waves-effect waves-light"
            type="submit"
            id="loginBtn"
            name="loginBtn"
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </div>

  <% include ../Partials/FooterRoot %>
</div>
