<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Priority Pilot - your BEST Things done the BEST way at the BEST Time
    </title>
    <!-- App Icons -->
    <link
      rel="shortcut icon"
      href="/public/assets/images/favicons/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/public/assets/images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/assets/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/assets/images/favicons/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/public/assets/images/favicons/site.webmanifest"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mt-5">
            <div class="card-body"><%- body %></div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
