<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <title>Priority Pilot - Take Flight Today</title>
    <meta content="Prority Pilot" name="description" />
    <meta content="Author" name="Adrian Nadeau" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App Icons -->
    <link
      rel="shortcut icon"
      href="/public/assets/images/favicons/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/public/assets/images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/assets/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/assets/images/favicons/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/public/assets/images/favicons/site.webmanifest"
    />

    <%- HeaderCss %> <% include ./Partials/HeaderStyle %>
  </head>
  <body class="fixed-left">
    <!-- Loader -->
    <div id="preloader">
      <div id="status"><div class="spinner"></div></div>
    </div>

    <div id="wrapper">
      <% include ./Partials/Header %>
      <div class="content-page">
        <div class="content"><% include ./Partials/Sidebar %> <%- body %></div>
        <% include ./Partials/Footer %>
      </div>
    </div>

    <% include ./Partials/FooterScript %> <%- FooterJs %>

    <script src="/public/assets/js/app.js"></script>
    <script src="utils/dateUtils.js"></script>

    <%- BottomJs %>
  </body>
</html>
