<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Reset Your Password</title>
    <style>
      .reset-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: #ffffff;
        background-color: #34b871;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .reset-button:hover {
        background-color: #34b871;
      }
    </style>
  </head>
  <body>
    <h1>Hi, <%= first_name %>!</h1>
    <p>
      You requested to reset your password. Click the button below to reset it:
    </p>
    <a href="<%= redirectURL %>" class="reset-button">Reset Password</a>
    <p>This link will expire in 10 minutes.</p>
    <p>If button does not open, copy the following into your browser: <%= redirectURL %></p>
    <p>If you have not made this request, contact <a href=="mailto:help@prioritypilot.ca">help@prioritypilot.ca</a></p>
    <p>Best regards,<br />The PriorityPilot Team</p>
  </body>
</html>
