

<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Priority Pilot - Responsive Flat Admin Dashboard</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App Icons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicons/site.webmanifest">

        <!-- Basic Css files -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css">

    </head>
    <body class="fixed-left">

        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">
               
                    <h3 class="text-center m-0">
                        <!-- Priority Pilot -->
                        <a href="/" class="logo logo-admin"><img src="/assets/images/logo.png" alt="logo"></a>
                    </h3>

                    <div class="p-3">
                        <p class="text-muted text-center">Get your Pilot account. {{name}}</p>
                        

                        <form class="form-horizontal m-t-30 needs-validation" id="company-form" novalidate action="/register" method="POST">
                            <input type="hidden" name="register_yn" value="y"/>
                            <div class="form-group needs-validation" novalidate>
                                <label for="company_name">Company Name</label>
                                <input type="text" class="form-control" id="company_name"  name="company_name" placeholder="Enter Name..." required>
                                <div class="invalid-feedback">
                                    Please enter company name.
                                  </div>
                            </div>

                            <div class="form-group">
                                <label for="company_headline">Company Headline</label>
                                <input type="text" class="form-control" id="company_headline" name="company_headline" placeholder="Enter Headline...">
                            </div>

                            <div class="form-group">
                                <label for="company_description">Company Description</label>
                                <textarea class="form-control" id="company_description" name = "company_description" placeholder="Enter Description..."></textarea>
                            </div>
                            <div class="form-group">
                                <label for="company_logo">Company Logo (will be pushed to storage bucket)</label>
                                <input type="file" class="form-control" id="company_logo" name="company_logo" />
                            </div>
                           

                            <div class="form-group row m-t-20">
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Continue</button>
                                </div>
                            </div>

                            
                            <div class="col-12 m-t-20">
                                <p class="font-14 text-muted mb-0">By registering you agree to the Priority Pilot <a href="#">Terms of Use</a></p>
                            </div>
                            <div class="m-t-40 text-center">
                                <!-- <p>Already have an account ? <a href="/login" class="font-500 font-14 font-secondary"> Login </a> </p> -->
                                <button name="submit" type="submit">Register</button>
                                <!-- <p>© <%= new Date().getFullYear() - 1; %> - <%= new Date().getFullYear(); %> Priority Pilot. -->
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <!-- <div class="m-t-40 text-center">
                <p class="font-14 text-muted mb-0">©  <%= new Date().getFullYear(); %> Priority Pilot.</p>
                
            </div> -->

        </div>


        <div class="m-t-40 text-center">
            <p>Don't have an account ? <a href="/register" class="font-500 font-14 font-secondary"> Signup Now </a> </p>
            <!-- <p>© <%= new Date().getFullYear() - 1; %> - <%= new Date().getFullYear(); %> Priority Pilot. -->
        </div>
 
    </div>
     <!-- jQuery  -->
     <script src="/assets/js/jquery.min.js"></script>
     <script src="/assets/js/bootstrap.bundle.min.js"></script>
     <script src="/assets/js/modernizr.min.js"></script>
     <script src="/assets/js/jquery.slimscroll.js"></script>
     <script src="/assets/js/waves.js"></script>
     <script src="/assets/js/jquery.nicescroll.js"></script>
     <script src="/assets/js/jquery.scrollTo.min.js"></script>
 
     <!-- App js -->
     <script src="/assets/js/app.js"></script>
<script>
    document.getElementById('company-form').addEventListener('submit', function(event) {
   
   event.preventDefault();

   const companyName = document.getElementById('company_name').value;
   const companyDescription = document.getElementById('company_description').value;
   fetch('/config')
   .then(response => response.json())
   .then(data => {
     document.getElementById('config').innerHTML = `
       <p>API Key: ${data.API_COMPANY_URL}</p>

     `;
   })
   .catch(error => console.error('Error fetching config:', error));
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
//is the code here

    //   fetch('http://localhost:3000/companies', {
    //     method: 'POST',
    //     headers: {
    //       'Content-Type': 'application/json'
    //     },
    //     body: JSON.stringify({
    //       company_name: companyName,
    //       company_description: companyDescription
    //     })
    //   })
    //   .then(response => response.json())
    //   .then(data => {
    //     console.log('Success:', data);
    //     alert('Company created successfully!');
    //   })
    //   .catch((error) => {
    //     console.error('Error:', error);
    //     alert('Error creating company.');
    //   });
    });
  </script>