<% include ../Partials/HeaderRoot %>

<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h2>
        Error Code: <%= statusCode %>
        <br />
        <%= errorMessage %><br />
        <a
          href="#"
          style="
            background-color: #34b871;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
          "
          onclick="window.history.back();"
          >Back</a
        >
      </h2>

      <br />
    </div>
  </div>
</div>
<% include ../Partials/FooterRoot %>
