<% include ../Partials/HeaderRoot %>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<div id="preloader">
  <div id="status"><div class="spinner"></div></div>
</div>

<!-- Begin page -->
<div class="accountbg"></div>
<div class="wrapper-page">
  <div class="card">
    <div class="card-body">
      <h3 class="text-center m-0">
        <!-- Priority Pilot -->
        <a href="/" class="logo logo-admin"
          ><img
            style="width: 400px"
            src="public/assets/images/logo.png"
            alt="logo"
        /></a>
      </h3>

      <div class="p-3">
        <h4 class="font-18 m-b-12 text-center">Terms and Conditions</h4>
      </div>
      <p></p>
      <p class="text-muted">
        Effective Date: December 13, 2024 Welcome to A.N Software Services. By
        accessing or using our website (www.ansoftwareservices.com) or engaging
        with our services, you agree to comply with and be bound by the
        following Terms and Conditions. Please read them carefully before using
        our services.
        </p>
        <strong>1. Definitions</strong>
      </p>
    </div>
  </div>
</div>
<% include ../Partials/FooterRoot %>
