<% include ../Partials/HeaderRoot %>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<style>
  .password-container {
    position: relative;
    width: 300px;
  }

  .password-container input {
    width: 100%;
    padding-right: 40px;
  }

  .password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .toggle-password:hover {
    cursor: pointer;
  }
</style>
<div id="preloader">
  <div id="status"><div class="spinner"></div></div>
</div>

<!-- Begin page -->
<div class="accountbg"></div>
<div class="wrapper-page">
  <div class="card">
    <div class="card-body">
      <h3 class="text-center m-0">
        <!-- Priority Pilot -->
        <a href="/" class="logo logo-admin"
          ><img src="/public/assets/images/logoshort.png" alt="logo"
        /></a>
      </h3>

      <div class="p-3">
        <!-- <h4 class="font-18 m-b-5 text-center">Welcome Back !</h4>
       <p class="text-muted text-center">
         
            <p class="text-center">
              Don't have an account ?
              <a href="/register" class="font-500 font-14 font-secondary">
                Signup Now
              </a>
            </p>
            
          </div>
        </p> -->

        <form
          class="form-horizontal m-t-30"
          method="POST"
          action="/persons/password/update-password/"
        >
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter email"
              value="<%= email %>"
              disabled
            />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <i class="fas fa-eye toggle-password" id="togglePassword1"></i
            ><input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter password"
            />
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <i class="fas fa-eye toggle-password" id="togglePassword2"></i
            ><input
              type="password"
              class="form-control"
              id="confirm_password"
              name="confirm_password"
              placeholder="Confirm password"
            />
          </div>

          
          
          <div class="form-group row">
            <div class="col-sm-12 text-center">
              <button
                class="btn btn-primary w-md waves-effect waves-light"
                type="submit"
              >
                Reset Password
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    const togglePassword1 = document.querySelector("#togglePassword1");
    console.log(togglePassword1);
    const password = document.querySelector("#password");

    togglePassword1.addEventListener("click", function (e) {
      // Toggle the type attribute
      const type =
        password.getAttribute("type") === "password" ? "text" : "password";
      password.setAttribute("type", type);

      // Toggle the eye / eye slash icon
      this.classList.toggle("fa-eye-slash");
    });

    const togglePassword2 = document.querySelector("#togglePassword2");
    console.log(togglePassword2);
    const confirmPassword = document.querySelector("#confirm_password");

    togglePassword2.addEventListener("click", function (e) {
      // Toggle the type attribute for the confirm password field
      const type =
        confirmPassword.getAttribute("type") === "password"
          ? "text"
          : "password";
      confirmPassword.setAttribute("type", type);

      // Toggle the eye / eye slash icon
      this.classList.toggle("fa-eye-slash");
    });
  </script>
  <% include ../Partials/FooterRoot %>
</div>
