<% include ../Partials/HeaderRoot %>
<link rel="stylesheet" href="/public/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/public/assets/css/custom.css" />
<style>
  .password-container {
    position: relative;
    width: 300px;
  }

  .password-container input {
    width: 100%;
    padding-right: 40px;
  }

  .password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .toggle-password:hover {
    cursor: pointer;
  }
</style>
<div id="preloader">
  <div id="status"><div class="spinner"></div></div>
</div>

<!-- Begin page -->
<div class="accountbg"></div>
<div class="wrapper-page"> 
  <div class="card">
    <div class="card-body">
      <h3 class="text-center m-0">
        <!-- Priority Pilot -->
        <a href="/" class="logo logo-admin"
          ><img src="/public/assets/images/logoshort.png" alt="logo"
        /></a>
      </h3>

      <div class="p-3">
        <h4 class="font-18 m-b-5 text-center">Reset Password</h4>
        <p class="text-muted text-center">Enter new password below</p>
        <form class="form-horizontal m-t-30" method="POST" action="/persons/auth/login/">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <i class="fas fa-eye toggle-password" id="togglePassword"></i><input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
          </div>

          <div class="form-group row m-t-20">
            <div class="col-sm-6">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customControlInline">
                <label class="custom-control-label" for="customControlInline">Remember me</label>
              </div>
            </div>
            <div class="col-sm-6 text-right">
              <button class="btn btn-primary w-md waves-effect waves-light" type="submit">
                Log In
              </button>
            </div>
          </div>

          
        </form>

          <div class="form-group m-t-10 mb-0 row">
            <div class="col-12 m-t-20">
              <a href="/recover-password" class="text-muted"
                ><i class="mdi mdi-lock"></i> Forgot your password?</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
