<% include ../Partials/HeaderRoot %>

<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h2>
        Error Code: <%= statusCode %>
        <br />
        <%= errorMessage %><br />
        <a href="/">Go To Login</a>
      </h2>

      <br />
    </div>
  </div>
</div>
<% include ../Partials/FooterRoot %>
